body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Note {
    /*display: flex;*/
    padding: 10px;

    margin-top: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid turquoise;
    border-radius: 2%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1; /* Распределение равномерно по ряду */
    box-sizing: border-box;
}

.title-overlay {
    position: absolute;
    top: 50%; /* Располагаем надпись по вертикали на 50% относительно родительского элемента */
    left: 50%; /* Располагаем надпись по горизонтали на 50% относительно родительского элемента */
    transform: translate(-50%, -50%); /* Центрируем надпись по центру родительского элемента */
    z-index: 1; /* Устанавливаем z-index, чтобы надпись находилась выше других элементов */
    background-color: rgba(255, 255, 255, 0.8); /* Добавляем полупрозрачный фон для лучшей читаемости */
    padding: 8px 16px; /* Добавляем отступы вокруг текста */
    border-radius: 4px; /* Закругляем углы */
}


