body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Note {
    /*display: flex;*/
    padding: 10px;

    margin-top: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid turquoise;
    border-radius: 2%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1; /* Распределение равномерно по ряду */
    box-sizing: border-box;
}

.title-overlay {
    position: absolute;
    top: 50%; /* Располагаем надпись по вертикали на 50% относительно родительского элемента */
    left: 50%; /* Располагаем надпись по горизонтали на 50% относительно родительского элемента */
    transform: translate(-50%, -50%); /* Центрируем надпись по центру родительского элемента */
    z-index: 1; /* Устанавливаем z-index, чтобы надпись находилась выше других элементов */
    background-color: rgba(255, 255, 255, 0.8); /* Добавляем полупрозрачный фон для лучшей читаемости */
    padding: 8px 16px; /* Добавляем отступы вокруг текста */
    border-radius: 4px; /* Закругляем углы */
}

.imageBlock {
    text-align: center;
    color: var(--color);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../styles/img/4k/mustang.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

p {
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

.blank {
    width: 100%;
    min-height: 60vh;
    max-height: 80vh;
    background-color: var(--color);
}

.second {
    background-image: url("../styles/img/4k/2audi.jpg");
    background-attachment: fixed;
    height: 1200px;
    flex-direction: row;
    gap: 1.6em;
}

.third {
    background-image: url("../styles/img/4k/mustang-light.jpg");
    background-attachment: fixed;
    height: 1200px;
    flex-direction: row;
    gap: 1.6em;
}


