/* PostYars.css */
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%; /* Округляем для равномерного распределения четырех карточек в ряду */
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
}

.price {
    font-weight: bold;
    color: #333;
}
